<div class="jumbotron">
  <h1 class="display-4">
    AGL Coding Test
  </h1>
  <h2>{{errorMsg}}</h2>
  <div class="just-padding">
    <table class="table  table-responsive-sm">
      <th>Cats by Owner Gender</th>
      <tr *ngFor="let obj of this.list">
        <td>
          <ul class="list-unstyled ">
            <li class="font-weight-bold"> {{obj.gender}}</li>
            <ul>
              <li *ngFor="let p of obj.petNames">
                {{ p }}
              </li>
            </ul>
          </ul>

        </td>
      </tr>
    </table>
  </div>